<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="form-inputs">
    <label>x1:</label>
  <input name="x1" ngModel required #first="ngModel">
  <label>y1:</label>
  <input name="y1" ngModel>
  <br>
  <label>x2:</label>
  <input name="x2" ngModel required #first="ngModel">
  <label>y2:</label>
  <input name="y2" ngModel>
  <br>
  <label>x3:</label>
  <input name="x3" ngModel required #first="ngModel">
  <label>y3:</label>
  <input name="y3" ngModel>
</div>
  <button>Submit</button>
</form>
<div class="result" >
    <canvas #canvas width="600" height="600"></canvas>
</div>